body {
    margin: 0;
    font-size: 20px;
    font-family: "Arial";
}

header {
    display: flex;
    height: 120px;
    background-color: #e1e1e1;
}

header * {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    display: inline;
    font-size: 18px;
    font-weight: bold;
    font-family: "Georgia";
}

h1,
h2 {
    color: #a70f0f;
}

h2 {
    font-size: 22px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 25px;
}

header a:hover {
    color: #a70f0f
}

header a.current {
    color: #a70f0f
}

header li a {
    text-decoration: none;
    color: black;
}

section {
    justify-content: center;
    align-items: center;
    text-align: center;
}

section>div {
    margin-top: 60px;
}

div .highlight {
    color: #a70f0f
}

img .layout-img {
    width: 100vw;
}

div .column {
    float: left;
    width: 50%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 40px;
}

div .red-column {
    background-color: #a70f0f;
    color: white;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

div .left-list {
    text-align: left;
    margin-left: 8%;
    margin-right: 8%
}

div .column-figure {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.profile-img {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 300px;
}

hr {
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    height: 100vh;
    width: 1px;
}

.profile-list {
    display: -webkit-inline-box;
    height: 30pc;
}

.contact-profile {
    width: 50%;
}

.contact-row input,
textarea {
    width: 130%;
    font-size: 30px;
    margin-bottom: 40px;
}

.title-page {
    font-size: 200%;
    color: #a70f0f;
}

.profile h3 {
    width: 20%;
    margin: auto;
    color: #a70f0f;
    text-align: center;
    height: 7pc;
}

.row {
    display: inline-flex;
    text-align: left;
}

.column {
    flex: 50%;
}

.contact-submit {
    width: 133%;
}

.contact-btn {
    background-color: #a70f0f;
    color: #e1e1e1;
    width: 115px;
    height: 40px;
    float: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

footer {
    text-align: center;
    padding: 50px;
}